<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel='stylesheet' href='/bower_components/bootstrap/dist/css/bootstrap.css' />
    <title>Edit Post</title>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
        setTimeout(function() {
            $("#messages").fadeOut().empty();
        }, 1000);
    </script>
    <style>
        body {
            background-color: #a4a5a7;
            background: linear-gradient(180deg, #76777a 0%, #39393c 37%, #000108 100%) fixed;
        }

        </style>
</head>
<body>
<nav class="navbar navbar-expand-md navbar-dark bg-transparent">
    <a class="navbar-brand" href="/"><img src="/images/logo2.png" height="55" width="80" border-radius="50%"></img></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="/main">Home<span class="sr-only">(current)</span></a>
            </li>
        </ul>
        <ul class="navbar-nav rounded-right">
<!--            <li class="nav-item">-->
<!--                <a class="nav-link" href="/main/profile">My Profile<span class="sr-only">(current)</span></a>-->
<!--            </li>-->
                        <li class="nav-item">
                            <a class="nav-link" href="/main/profile/myposts">Back<span class="sr-only">(current)</span></a>
                        </li>
            <li class="nav-item">
                <a class="nav-link" href="/logout">Logout<span class="sr-only">(current)</span></a>
            </li>

        </ul>
    </div>
</nav>
<%- messages('message', locals) %>
<div class="container bg-dark" style="opacity: 90%;border-style: solid; border-color: white">
    <br>
    <h1 align="center" style="color: white"><%= title%></h1>
    <br>
</div>

<br>
<div class="container" style="color: white">
    <form method="post" action="/main/profile/myposts/<%= post._id%>/edit">
        <div class="form-group">
            <label for="topic"><h6>Title</h6></label>
            <textarea type="text" class="form-control" id="topic" name="topic" ><%= post.topic%></textarea>
        </div>

        <div class="form-group">
            <label for="content"><h6>Content</h6></label>
            <textarea type="text" class="form-control" id="content" name="content"><%= post.content%></textarea>
        </div>
        <div class="form-group">
            <label for="tags"><h6>Tags</h6></label>
            <textarea type="text" class="form-control" id="tags" name="tags" ><%= post.tag%></textarea>
        </div><br>
        <div align="center">
            <button type="submit" class="btn btn-success">Save Changes</button>
        </div>

    </form><br><br>
        <div align="center">
            <h5>Make changes to the attached files:</h5><br>
        <!--    <textarea type="" class="form-control" id="tags" name="tags" ><%= post.tag%></textarea>-->
        </div>
    <div align="center">
        <%post.fileField.forEach(function (filepost) {%>
            <%files.forEach(function (file) {%>
                <%if(file._id.toString()===filepost._id.toString()){%>
               <br> <form method="post" action="/main/profile/myposts/<%= post._id%>/edit/<%=file._id%>/delete">
                    <%=file.filename%>
                    <button type="submit" class="btn btn-danger" style="margin-left: 10%;">Remove file</button>
                </form>
                <%}%>
            <%})%>

        <%})%>
        <br><br></div>

</div>
<script src='/bower_components/jquery/dist/jquery.js'></script>
<script src='/bower_components/bootstrap/dist/js/bootstrap.js'></script>
</body>
</html>