<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel='stylesheet' href='/bower_components/bootstrap/dist/css/bootstrap.css' />
    <title>main</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
        setTimeout(function() {
            $("#messages").fadeOut().empty();
        }, 1000);
    </script>
    <style>
        body {
            background-color: #a4a5a7;
            background: linear-gradient(180deg, #76777a 0%, #39393c 37%, #000108 100%) fixed;
        }
        .post{
            opacity:90%;
            height: 100%;
        }
        .btn-circle{
            width: 40px;
            height: 40px;
            border-radius: 20px ;
        }
        .fixed_button{
            position: fixed;
            bottom: 5px;
            right: 10px;
            width: 50px;
            height: 50px;
            border-radius: 25px ;
            z-index: 99;
            -webkit-transform: translate3d(0,0,0);
            -webkit-transition: all .25s ease;
            -moz-transition: all .25s ease;
            -ms-transition: all .25s ease;
            -o-transition: all .25s ease;
            transition: all .25s ease;
            text-align: center;
        }
        .fixed_button1{
            position: fixed;
            bottom: 15px;
            right: 80px;
            width: 50px;
            height: 50px;
            border-radius: 25px ;
            z-index: 99;
            -webkit-transform: translate3d(0,0,0);
            -webkit-transition: all .25s ease;
            -moz-transition: all .25s ease;
            -ms-transition: all .25s ease;
            -o-transition: all .25s ease;
            transition: all .25s ease;
            text-align: center;
        }
        .fixed_button2{
            position: fixed;
            bottom: 15px;
            right: 20px;
            width: 50px;
            height: 50px;
            border-radius: 25px ;
            z-index: 99;
            -webkit-transform: translate3d(0,0,0);
            -webkit-transition: all .25s ease;
            -moz-transition: all .25s ease;
            -ms-transition: all .25s ease;
            -o-transition: all .25s ease;
            transition: all .25s ease;
            text-align: center;
        }
        #hide{
            display: none;
            position:fixed;
            bottom: 8px;
            right: 20px;
            width: 500px;
            height: 200px;
            opacity: 70%;
        }
    </style>
    <script>
        function myFunction(x) {
            x.classList.toggle("fa-thumbs-down");
        }
    </script>

</head>
<body>
<nav class="navbar navbar-expand-md navbar-dark bg-transparent">
    <a class="navbar-brand" href="/">StudyBuddy</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="/main">Home<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Semester</a>
                <div class="dropdown-menu" aria-labelledby="dropdown01">
                    <a class="dropdown-item" href="/main/1">Semester 1</a>
                    <a class="dropdown-item" href="/main/2">Semester 2</a>
                    <a class="dropdown-item" href="/main/3">Semester 3</a>
                    <a class="dropdown-item" href="/main/4">Semester 4</a>
                    <a class="dropdown-item" href="/main/5">Semester 5</a>
                    <a class="dropdown-item" href="/main/6">Semester 6</a>
                    <a class="dropdown-item" href="/main/7">Semester 7</a>
                    <a class="dropdown-item" href="/main/8">Semester 8</a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Courses</a>
                <div class="dropdown-menu" aria-labelledby="dropdown01">
                    <% course.forEach(function(item){%>
                    <a class="dropdown-item" href="/main/course/<%= item.course_id%>/view"><%= item.course_name%></a>
                    <%});%>
                </div>
            </li>
        </ul>
        <ul class="navbar-nav rounded-right">
            <form method="post" class="form-inline mt-2 mt-md-0" action="/main/course/<%= current_course%>/view">
                <input id="searchBy" name="searchBy" class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
                <button class="btn btn-group-sm btn-circle waves-effect" type="submit"><i class="fa fa-search"></i></button>
            </form>
            <li class="nav-item">
                <a class="nav-link" href="/main/profile">My Profile<span class="sr-only">(current)</span></a>
            </li>
<!--            <li class="nav-item">-->
<!--                <a class="nav-link" href="/main">Back<span class="sr-only">(current)</span></a>-->
<!--            </li>-->
            <li class="nav-item">
                <a class="nav-link" href="/logout">Logout<span class="sr-only">(current)</span></a>
            </li>
        </ul>
    </div>
</nav>
<%- messages('message', locals) %>
<br>
<div class="container">
        <h1 align="center" style="color: white"> Course: <%= current_course%></h1><br>
        <% if(post!=undefined){post.forEach(function(item){ %>
        <div class="post" align="center" style="color: white">
            <li class="list-group-item bg-dark post">
                <p style="color: white" align="left">
                    <%= item.content%><br>
                    Written by: <%= item.author%> <a href="/main/<%= item.authorid%>/viewAuthor">
                        @<%= item.authorid%>
                    </a><br><br><br>
                </p>
                <p>Attached files:</p>
                <ul>
                    <% item.fileField.forEach(function (file) {%>
                    <%if(file!==null){%>
                        <%files.forEach(function (file2) {%>
                            <%if(file._id!==undefined && file._id.toString()===file2._id.toString()){%>
                                <%if(file2.contentType=='image/png'){%>
                                    <li><img width="200px" height="200px" src="\main\image\<%=file2.filename%>" alt="image"></li><br>
                                <%}else{%>
                                    <li><%=file2.filename%></li>
                                <%}%>
                            <%}%>

                    <%})%>
                    <%}%>
                    <%})%>
                </ul>
                <a href="/main/<%= item._id%>/like"><button type="button" class="btn btn-primary btn-circle btn-group-sm">
                        <% if(user.posts_liked.indexOf(item._id)!==-1){%>
                            <i class="fa fa-thumbs-up"></i>
                                <%}else{%>
                                <i class="fa fa-thumbs-o-up"></i>
                                <%}%>
                    </button></a>&nbsp<%= item.no_of_likes%>&nbsp &nbsp &nbsp
                <a href="/main/<%= item._id%>/dislike"><button type="button" class="btn btn-primary btn-circle btn-group-sm">
                        <% if(user.posts_disliked.indexOf(item._id)===-1){%>
                        <i class="fa fa-thumbs-o-down"></i>
                            <%}else{%>
                                <i class="fa fa-thumbs-down"></i>
                            <%}%>
                    </button></a>&nbsp<%= item.no_of_dislikes%>&nbsp &nbsp &nbsp
                <a href="/main/<%= item._id%>/comments"><button type="button" class="btn btn-primary btn-circle btn-group-sm">
                        <i class="fa fa-comment"></i></button></a>&nbsp<%= item.no_of_comments%>&nbsp &nbsp &nbsp
                <a href="/main/<%= item._id%>/bookmark"><button type="button" class="btn btn-primary btn-circle btn-group-sm">
                        <% if(user.posts_bookmarked.indexOf(item._id)===-1){%>
                            <i class="fa fa-star-o"></i>
                        <%}else{%>
                            <i class="fa fa-star"></i>
                        <%}%>
                    </button></a>
            </li>
        </div>
        <br>
        <%});}%>
     <br>
    <button type="button" onclick="myFunction()" class="btn btn-primary btn-group-sm waves-effect fixed_button2"><i class="fa fa-pencil" style="font-size:25px"></i></button></a>

    <div class="container" id="hide">
        <form method="post" action="/main/course/<%= current_course%>/create" enctype="multipart/form-data">
            <div class="form-group">
                <textarea type="text" class="form-control" id="content" name="content" placeholder="Write a Post!" ></textarea>
            </div>
            <div class="form-group">
                <textarea type="text" class="form-control" id="tags" name="tags" placeholder="Enter tags separated by comma." ></textarea>
            </div>
            <div style="color: white">
                <input type="file" name="files" multiple />
            </div>
            <button type="submit" class="btn btn-primary fixed_button1"><i class="fa fa-paper-plane"></i></button>
        </form>
    </div>
    <script>
    function myFunction() {
    var x = document.getElementById("hide");
    if (x.style.display === "none") {
    x.style.display = "block";
    } else {
    x.style.display = "none";
    }

    }
    </script>
</div>
<script src='/bower_components/jquery/dist/jquery.js'></script>
<script src='/bower_components/bootstrap/dist/js/bootstrap.js'></script>
</body>
</html>